---
http_interactions:
- request:
    method: get
    uri: http://api.allmenus.com/restaurant?api_key=gjsrw7xxs4fqsutyp7xrm6t&restaurant_id=294063&return_type=json&type=info&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/xml
      X-Mashery-Error-Code:
      - ERR_403_DEVELOPER_INACTIVE
      X-Mashery-Responder:
      - prod-j-worker-us-east-1c-31.mashery.com
    body:
      encoding: US-ASCII
      string: <h1>Developer Inactive</h1>
  recorded_at: Sat, 14 Sep 2013 04:09:05 GMT
- request:
    method: get
    uri: http://api.allmenus.com/restaurant?api_key=agjsrw7xxs4fqsutyp7xrm6t&restaurant_id=294063&return_type=json&type=info&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-33.mashery.com
    body:
      encoding: US-ASCII
      string: ! "{\n    \"restaurant\" : {\n        \"id\" : \"294063\", \n        \"restaurant_name\"
        : \"Buca Di Beppo\t\", \n        \"phone_number\" : \"(508) 336-4202\",\n
        \       \"address\" : \"353 Highland Ave \", \n        \"city\" : \"SEEKONK\",\n
        \       \"state\" : \"MA\", \n        \"zip_code\" : \"02771\", \n        \"menu_link\"
        : \"http://www.allmenus.com/ma/seekonk/294063-buca-di-beppo/menu/\",\n        \"order_link\"
        : \"\nNotice: Undefined index: order_link in /var/www/www/services-core/v2/templates/jsonrestaurant.php
        on line 22\n\",\n        \"campusfood_link\" : \"\nNotice: Undefined index:
        order_link in /var/www/www/services-core/v2/templates/jsonrestaurant.php on
        line 23\n\"\n    }\n}"
  recorded_at: Sat, 14 Sep 2013 04:31:20 GMT
recorded_with: VCR 2.5.0
